body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}
ul {
    font-size: 1.2em;
    font-weight: bold;
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    list-style: none;
}
.board{
    border-collapse: collapse;
    width: 363px;
    margin: 0 auto;
    margin-top: 10px;
}
td {
    padding: 0;
    height: 33px;
    width: 33px;
    font-size: 16px;
    outline: 1px solid black;
    vertical-align: central;
    text-align: center;
}
.guessed {
    text-decoration: line-through;
    color: lightgray;
}
.congrats {
    position: fixed;
    vertical-align: central;
    margin-top: -250px;
    width: 200px;
    height: 75px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    opacity: 1;
    text-align: center;
    line-height: 75px;
}
.visible {
    display: block;
}
.congrats_container {
    width: 200px;
    margin: 0 auto;
}